*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    overflow-x:hidden;
    background:#f1f1f1;
    font-family:Arial, sans-serif;
}

/* SIDEBAR */
.side-navbar{
    width:220px;
    height:100vh;
    position:fixed;
    top:0;
    left:-220px;
    background:#004d4d;
    transition:0.3s;
    z-index:999;
    overflow-y:auto;
    padding-top:10px;
}

/* SIDEBAR AKTIF */
.side-navbar.active-nav{
    left:0;
}

/* CONTAINER */
.my-container{
    width:100%;
    min-height:100vh;
    padding:10px;
    overflow-x:hidden;
}

/* LAPTOP */
@media(min-width:769px){

    .side-navbar{
        left:0;
    }

    .my-container{
        margin-left:220px;
        width:calc(100% - 220px);
    }

}

/* NAVBAR */
.top-navbar{
    width:100%;
    background:white;
    border-radius:10px;
    padding:15px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:20px;
}

/* MENU BUTTON */
#menu-btn{
    background:#111;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:8px;
    font-size:20px;
}

/* LINK */
.nav-link{
    color:white !important;
    padding:12px;
    display:block;
    text-decoration:none;
}

.nav-link:hover{
    background:#ffffff22;
}

/* FOTO */
.dashboard-img{
    width:100%;
    height:350px;
    object-fit:cover;
    border-radius:10px;
}

/* HP */
@media(max-width:768px){

    .dashboard-img{
        height:200px;
    }

    h3{
        font-size:28px;
    }

    .top-navbar{
        padding:10px;
    }

    .top-navbar p{
        font-size:18px;
    }

}

/* PENTING */
img,
div,
table,
input,
button,
select{
    max-width:100%;
}
