*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    background:#f1f1f1;
    overflow-x:hidden;
}

/* SIDEBAR */
.side-navbar{
    width:220px;
    height:100vh;
    position:fixed;
    top:0;
    left:-220px;
    background:#4157fa;
    transition:0.3s;
    z-index:1000;
    overflow-y:auto;
}

/* SIDEBAR AKTIF */
.side-navbar.active-nav{
    left:0;
}

/* CONTAINER */
.my-container{
    width:100%;
    min-height:100vh;
    transition:0.3s;
    padding:10px;
}

/* LAPTOP */
@media(min-width:769px){

    .side-navbar{
        left:0;
    }

    .my-container{
        margin-left:220px;
        width:calc(100% - 220px);
    }

}

/* MENU BUTTON */
#menu-btn{
    background:#100901;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:8px;
}

/* NAVBAR */
.top-navbar{
    width:100%;
    background:white;
    padding:15px;
    border-radius:10px;
}

/* LINK */
.nav-link{
    color:white;
}

.nav-link:hover{
    background:#ffffff26;
}

/* FOTO DASHBOARD */
.dashboard-img{
    width:100%;
    height:350px;
    object-fit:cover;
    border-radius:10px;
}

/* CONTENT */
.content-wrapper{
    padding:20px;
    background:white;
    border-radius:10px;
    min-height:80vh;
}

/* FORM */
.input-persegi{
    border-radius:0;
}

/* HP */
@media(max-width:768px){

    .dashboard-img{
        height:200px;
    }

    h3{
        font-size:28px;
    }

    .top-navbar p{
        font-size:18px;
    }

}
html, body{
    width:100%;
    overflow-x:hidden !important;
}

/* supaya semua element tidak melebihi layar */
img,
table,
input,
select,
button,
div{
    max-width:100%;
}

/* container utama */
.my-container{
    overflow-x:hidden;
}

/* sidebar hp */
@media(max-width:768px){

    .side-navbar{
        width:220px;
        left:-220px;
    }

    .side-navbar.active-nav{
        left:0;
    }

    .my-container{
        margin-left:0 !important;
        width:100% !important;
    }

    /* penting */
    body{
        position:relative;
        overflow-x:hidden !important;
    }

}
